# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# Google API Configuration
GOOGLE_API_KEY=your_google_api_key_here

# Django API Configuration
# Use 'taller_ms_persistence' when running in Docker
# Use 'localhost' when running locally
DJANGO_API_URL=http://taller_ms_persistence:8000 